{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}
    <h1>Add New User</h1>
    <form method="POST", action="/users/new">
        <div class="col-6">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" name="first_name" class="form-control">
        </div>
        <div class="col-6">
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" name="last_name" class="form-control">
        </div>
        <div class="col-6">
            <label for="img_url">Profile Pic Url</label>
            <input id="img_url" type="url" name="img_url" class="form-control">
        </div>
        <br>
        <button class="btn btn-success" type="submit">Add</button>
    </form>
{% endblock %}