{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}
<h1>Add Post for {{ user.first_name }} {{ user.last_name }}</h1>
<form method="POST" , action="/users/{{ user.id }}/posts/new">
    <div class="col-6">
        <label for="title">Title</label>
        <input id="post-title" type="text" name="title" class="form-control">
    </div>
    <div class="col-6">
        <label for="content">Content</label>
        <input id="post-content" type="text" name="content" class="form-control">
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
</form>
{% endblock %}