{% extends 'base.html' %}

{% block title %}User details{% endblock %}


{% block content %}
<div class="row">
    <div class="col-4"><img src="{{ user.image_url }}" alt="" style="width: 100%"></div>
    <div class="col-6"><br>
        <h1>{{ user.first_name }} {{ user.last_name }} </h1>

        <form action="/users" style="display:inline">
            <button type="submit" class="btn btn-success">HOME</button>
        </form>
        
        <a href="/users/{{ user.id }}/edit" class="btn btn-primary">EDIT</a>

        <form method="POST" action="/users/{{ user.id }}/delete" style="display:inline">
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
    </div>
</div>
{% endblock %}